@using BusinessLogic.Models
@model Presentation.Models.Budget.ListBudgetViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Entrées de budgets</h1>
<h4>Budget Total : @(String.Format("{0:N}", BusinessLogic.Models.Budget.GetTotalBudget(Model.Budgets, Model.reparePortions))) Ar</h4>

<p>
    <a asp-action="Create">Entrer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Budgets.First().DateEntree)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Budgets.First().Entrees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Budgets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateEntree)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Entrees)
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
