@model IEnumerable<BusinessLogic.Models.Budget>

@{
    ViewData["Title"] = "Index";
}

<h1>Entrées de budgets</h1>
<h4>Budget Total : @(String.Format("{0:N}", Model.Sum(b => b.Entrees))) Ar</h4>

<p>
    <a asp-action="Create">Entrer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateEntree)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Entrees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateEntree)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Entrees)
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
