@model IEnumerable<BusinessLogic.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Routes</h1>

<p>
    <a asp-action="Create">Nouvelle Route</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartCityNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndCityNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etat)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Kmlength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartCityNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCityNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Kmlength)
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
