@model BusinessLogic.Models.Portion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Portion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPortion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPortion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndPortion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPortion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kmlength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kmlength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
