@model IEnumerable<BusinessLogic.Models.Portion>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Portions de routes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPortion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndPortion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPortion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPortion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Label)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
