@model BusinessLogic.Models.ReparePortion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReparePortion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DureeReparation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DureeReparation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixReparation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixReparation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portion.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
